@import "variable";

* {
  font-family: $main-font;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

$main-color: #bb8f32;
$kids-color: #f27a25;
.icon {
  font-size: 6rem;
  margin: 4rem 0;
  color: $main-color;
  transition: all ease-in-out .3s;

  &:hover {
    color: #8f642f;
  }
}

.active-link, .exact-active-link {
  color: $main-color !important;

}

// main home
.siema {
  max-height: 100vh;
}

.content-img {
  position: relative;

  .logo-slogan {
    position: absolute;
    left: 3%;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
      top: 6rem;
    }
    @media (max-width: 400px) {
      top: 4.5rem;
    }

    .slider-img, .quote-img {
      display: block;
      width: 290px;
      margin: 0 auto;
      @media (max-width: 992px) {
        width: 185px;
      }
      @media (max-width: 704px) {
        width: 120px;
      }
      @media (max-width: 450px) {
        width: 120px;
      }
      @media (max-width: 400px) {
        width: 100px;
      }
    }

    .slider-img-logo {
      display: block;
      width: 110px;
      margin: 0.5rem auto 1.5rem auto;
      @media (max-width: 992px) {
        width: 90px;
      }
      @media (max-width: 704px) {
        width: 55px;
      }
      @media (max-width: 450px) {
        margin: 0.5rem auto 0.5rem auto;
        width: 50px;
      }
      @media (max-width: 400px) {
        width: 40px;
      }
    }
  }

  .cover {
    width: 100% !important;
  }
}

.dots {
  position: absolute;
  bottom: 4rem;
  left: 15%;
  @media (max-width: 992px) {
    display: none;
  }


  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      width: 9px;
      height: 9px;
      background-color: #fff;
      margin: 0 .5rem;
      border-radius: 50%;
      cursor: pointer;
    }

    .active {
      background-color: $main-color;
    }
  }

}

.menu {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url("../../assets/images/grill.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  margin: 4rem 0 2rem 0;
  .dish {
    margin: 3rem 0;
    @media (max-width: 992px) {
      margin: 2rem 0;
    }
  }

  .heading-menu {
    font-size: 2.5rem;
    line-height: 2;
    letter-spacing: 14.2px;
    font-weight: 600;
    color: #fff;
    padding: 5rem 0 4rem 0;
  }

  .img-dish {
    width: 100%;
    height: 135px;
    display: block;
    object-fit: cover;
    margin-left: auto;
    @media (max-width: 992px) {
      margin: 1rem auto;
    }
  }

  .description-menu {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;

    .fix-flex {
      width: 100%;
    }

    .heading {
      width: 85%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .menu-name {
        text-transform: uppercase;
        width: 50%;
        margin-bottom: 0;
      }

      .hold-lines {
        width: 30%;
        margin: 0 auto;

        .line-v {
          display: block;
          height: 2px;
          background: $main-color;
          margin: .3rem 0;
        }
      }

      .price {
        display: block;
        width: 10%;
        text-decoration-line: line-through;
        color: $main-color;
        margin: 0 .5rem;
      }

      .new-price {
        color: #fff;
      }

      @media (max-width: 992px) {
        width: 100%;
      }
    }


  }
}

// dish
.dish {
  color: #fff;
  margin: 1.5rem 0;

  .dish-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
  }

  .dish-price {
    width: 80%;
    margin: 0 auto;
    padding: .5rem 1rem;
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration-line: line-through;
  }

  .new-dish-price {
    margin: 0 .5rem;
    background: transparent;
    color: #fff;
  }

  .line {
    border: 1px dashed #fff;
    margin: .5rem 0;
  }

  .dish-description {
    margin: .5rem 0;
  }
}

// view menu


.view-menus, .bookNow {
  border: solid 2px $main-color;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 15%;
  font-size: 1.1rem;
  margin: 6rem auto;
  letter-spacing: 2.55px;
  text-decoration: none;
  background: transparent;
  transition: background linear .3s, border-top-left-radius linear .3s .5s, border-bottom-right-radius linear .3s .5s;

  &:hover {
    background: rgba(0, 0, 0, 0.61);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    width: 35%;
    font-size: 1.1rem;
    margin: 3rem auto;
  }
}

.bookNow {
  border: solid 2px #fff;
  color: $main-color;
  display: flex;
  margin: auto;
  width: 100%;
  transition: all ease-in-out .3s;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// blog
.heading-post {
  color: #fff;
  border-left: 3px solid $main-color;
  padding: 1.5rem;
  margin: 2rem 0;
}

.post-paragraph {
  color: #fff;
  width: 90%;
  font-size: 1.3rem;
  line-height: 2.2;
}

// login & register profile
.g-input, .p-error {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  background: transparent;
  margin-bottom: .3rem;

  input {
    width: 100%;
    display: block;
    background: transparent;
    border-radius: 14px;
    box-shadow: 0 2px 4px 0 rgba(4, 102, 122, 0.13);
    border: solid 1px #0074c0;
    padding: .5rem 0 .5rem 1.5rem;
    outline: none;
    color: #fff;
    transition: all linear .3s;

    &::placeholder {
      text-transform: capitalize;
      color: #fff;
    }

    &:focus {
      box-shadow: 0 2px 4px 0 rgba(4, 163, 185, 0.13);
      background: rgba(4, 163, 185, 0.3);
      color: #fff;
    }
  }
}

//blog
.hold-img-blog-post {
  img {
    max-height: 545px;
    object-fit: cover;
    width: 100%;
  }
}

// lang arabic
@font-face {
  font-family: myFirstFont;
  src: url('../fonts/GE_SS_Two_Light.otf');
}

.arabic {
  font-family: myFirstFont;
  margin: 0 .5rem;
  color: #fff;
}

html:lang(ar) {

  h1, h2, h3, h4, h5, h6, p, a, span, div{
    font-family: myFirstFont;
  }

  .dots {
    right: 15%;
    left: auto;
  }

  .icons {
    right: 10%;
    left: auto;

    button {
      &:first-of-type {
        right: -1rem;
        left: auto;
      }
    }
  }

  .content-img {
    position: relative;

    .logo-slogan {
      right: 3%;
      left: auto;
    }
  }

  .main-style {
    left: 0;
    right: auto;
    transform: translate(0, -50%);
  }


  //footer
  .contact-info {
    text-align: right;
    @media (max-width: 768px) {
      text-align: center;
    }
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  .footerMenu {
    margin-right: auto;
    //margin-top: -2.2rem;
  }

  .pr-lg-0 {
    padding-left: 0 !important;
  }


  .card-news {
    .main-card {
      //.paragraph {
      //  left: 0;
      //}
    }
  }

  .reflect {
    //.paragraph {
    //  right: 0 !important;
    //  left: auto;
    //}
  }

  .paragraph {
    text-align: right;
  }

  .social-contact {
    ul {
      li {
        i {
          right: 20%;
          left: auto;
          transform: translate(0, -50%);
          @media (max-width: 600px) {
            right: 5%;
          }
        }

        a {
          text-align: center;
          margin-right: 6rem;
          text-decoration: none;
          transition: all ease-in-out .3s;
          &:hover{
            color: $main-color;

          }
          @media (max-width: 992px) {
            margin-right: 1rem;
          }
        }
        color: #fff;
      }
    }
  }

  table {
    tr {
      td {
        text-align: right;
      }
    }
  }

  .paragraph-blog {
    text-align: right;
  }

  .blog-post-name, .blog-post-description {
    text-align: right;
  }

  .favorite-icon {
    margin-left: 1rem;

    .fa-heart {
      left: auto;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }

  .heading-post {
    text-align: right;
    border-left: 3px solid transparent;
    border-right: 3px solid $main-color;
  }

  .post-paragraph {
    text-align: right;
  }

  .heading-about, .heading-category, .heading-tags, .heading-search, .paragraph-about, .paragraph-category, .paragraph-tags {
    text-align: right;
  }

  .heading-posts {
    text-align: right;
  }

  .search {
    .fa-search {
      margin-left: .5rem;
    }
  }

  .dish-description {
    text-align: right;
  }

  .special-dish {
    .special-dish-heading {
      text-align: right;
    }

    p {
      text-align: right;
    }
  }

  .g-input {
    input {
      font-family: myFirstFont;
      padding-right: .5rem;
    }
  }

  .fa-cog {
    left: 1rem;
    right: auto !important;
  }

  .description-menu {
    text-align: right;
  }

  .options {
    .search {
      //margin-left: 2.5rem;
    }
  }
  .main-page-kids {
    .dots {
      left: auto;
      right: 5%;
    }
  }
  .form-search {
    position: relative;
    top: 50%;
    right: 0;
    transform: translate(5%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    input {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;;
      height: 42.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
      text-align: left;
    }
    .fa-search {
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      color: #07051a;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
    }
    &:hover {
      width: 200px;
      cursor: pointer;
      input {
        display: block;
      }
    }
  }

  .lang {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    cursor: pointer;
    margin: 0 auto;
  }


  .result-search {
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 85%;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    a{

    }
  }
  .toggle-menu{
    left: 0;
    right: auto;
  }
  *{
    letter-spacing: 0 !important;
  }
  .pl-lg-0{
    padding-right: 0 !important;
    padding-left: 15px !important;
    @media (max-width: 992px) {
      padding-right: 15px !important;
    }
  }
  .pr-lg-0 {
    @media (max-width: 992px) {
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }
  .quote{
    text-align: right;
  }
}

.pop-up-error,.pop-up-success{
  background-color: #e10101;
  width: 320px;
  position: fixed;
  z-index: 99;
  border-radius: .25rem;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //height: 50px;
  color: #fff;
  text-transform: capitalize;
  box-shadow: 0 0 5px 1px #0000006e;
  left: -130%;
  padding: 1rem;
  p{
    margin: .5rem;
  }
}
.pop-up-success{
  background-color: #B98D32;
  padding: 1rem;
  text-align: center;
}








