* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

/* CHILDREN ALIGMEN IN CONTAINER */

.center {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.algin-center {
  display: flex;
  align-items: center;

}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;;
}

.pop-up-error, .pop-up-success {
  background-color: #e10101;
  width: 320px;
  position: fixed;
  z-index: 99;
  border-radius: .25rem;
  color: #fff;
  text-transform: capitalize;
  box-shadow: 0 0 5px 1px #0000006e;
  left: -130%;
  padding: 1rem;
  top: 5rem;
}

.pop-up-error p, .pop-up-success p {
  margin: .5rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Coloumn Aligment */


.space-between-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.d-col {
  flex-direction: column;
}

/* CUSTOM SHAPES */
.divider {
  height: 2px;
  width: 80%;
  margin: 0 auto;
  background: #f5ae48;
}

.small-divider {
  width: 50% !important;
}

/* LANG */
.arab {
  direction: rtl;
}

.eng {
  direction: ltr;
}


/* dropdown */
.dropdown-content {
  position: absolute;
  opacity: 0;
  width: 12.2vw;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  font-size: 90%;
  z-index: 10;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
@media (max-width: 768px) {
  .row-mobile {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 850px) {
  .dropdown-content {
    width: 40vw;
    left: 20% !important;
    right: auto;
    text-align: center !important;
    transform: translate(-100%, 0) !important;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    font-size: 90%;
    z-index: 10;
  }
}

.active-link {
  color: #f5ae48 !important;
}

.exact-active-link {
  color: #f5ae48 !important;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}

@media (max-width: 992px) {
  .margin-top-mobile {
    margin-top: 5rem;
  }
}

.l-left {
  font-size: 310%;
  margin: auto;
}

.contact-us {
  color: #1d4590;
  font-weight: 600;
  text-align: center;
  margin-top: 30%;
  @media (max-width: 992px) {
    margin-top: 15%;
    font-size: 2rem;
  }
  @media (max-width: 545px) {
    margin-top: 15%;
  }
}

.l-right {
  position: relative;
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  position: relative;
  border: 2px #ffc77a solid;
  border-radius: 5px;
  margin-right: 10%;
  max-width: 33vw;
  min-width: 33vw;
  max-height: 33vw;
  min-height: 33vw;
}

.box img {
  border-radius: 5px;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 10%;
  right: -10%;
}

.scroll-down {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  width: 8vw;
  height: 8.5vw;
  @media (max-width: 992px) {
    top: 70%;
    right: 40%;
  }
}

.dashed-border {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  border: 3px dashed #ffc77a;
  @media (max-width: 992px) {
    width: 40px;
    height: 40px;
  }
}

.inner-border {
  width: 6.8vw;
  height: 6.8vw;
  border-radius: 50%;
  color: #fff;
  background: transparent;
  @media (max-width: 992px) {
    width: 30px;
    height: 30px;
    .fa-long-arrow-down {
      font-size: 23px;
    }
  }
}
