{
    "openapi": "3.0.0",
    "info": {
        "title": "Admin Backend",
        "description": "Admin Backend Description",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://admin-apc.dotbeit.com",
            "description": "Admin Backend"
        }
    ],
    "paths": {
        "/api/videoAppointment": {
            "post": {
                "tags": [
                    "Appointment video call"
                ],
                "summary": "Appointment service video details",
                "operationId": "App\\Http\\Controllers\\Api\\AgoraVideoController::videoAppointment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "appointment_id"
                                ],
                                "properties": {
                                    "appointment_id": {
                                        "description": "required",
                                        "type": "number",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/appointments/freetime": {
            "get": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "Appointment service (deprecated)",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::FreeTime",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "doctor slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "description": "appointment time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "04/31/2020"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/appointments/free_time": {
            "get": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "Appointment service",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::free_time",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "doctor slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "the start date ... if not provided the start date will be the current date",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "04/31/2020"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/appointments": {
            "get": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Appointment service",
                "operationId": "Andalusia\\Booking\\Controllers\\API\\AppointmentController::index",
                "parameters": [
                    {
                        "name": "paginate",
                        "in": "query",
                        "description": "pagination ... minimum is 1 & maximum is 1000",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "doctors",
                        "in": "query",
                        "description": "to show the doctor details in the appointment object",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "clinics",
                        "in": "query",
                        "description": "to show the clinic details in the appointment object",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "doctor_id",
                        "in": "query",
                        "description": "to get the appointments related to the doctor (through doctor id)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "clinic_id",
                        "in": "query",
                        "description": "to get the appointments related to the clinic (through clinic id)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "Appointment service",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "slug",
                                    "start"
                                ],
                                "properties": {
                                    "slug": {
                                        "description": "doctor slug",
                                        "type": "string",
                                        "example": "dr-saeed-refaat"
                                    },
                                    "start": {
                                        "description": "the start of the appointment",
                                        "type": "string",
                                        "example": "2020-03-30 14:23:00"
                                    },
                                    "comments": {
                                        "description": "to add a comment for the appointment",
                                        "type": "string",
                                        "example": "hi doctor"
                                    },
                                    "attachments": {
                                        "description": "the user attachments",
                                        "type": "array",
                                        "items": {
                                            "type": "file",
                                            "example": "prescription.png"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/appointments/{id}/attachments": {
            "get": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "Appointment service",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::get_attachments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "appointment id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "Appointment service",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::store_attachments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "appointment id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "attachment"
                                ],
                                "properties": {
                                    "attachment": {
                                        "description": "the attachment (media)",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/appointments/mine": {
            "get": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "Appointment service",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::mine",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "successful action.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:there is an error.": {
                                            "description": "there is an error.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/appointment/note": {
            "post": {
                "tags": [
                    "Appointment (Working Hours)"
                ],
                "summary": "notes",
                "operationId": "App\\Http\\Controllers\\Api\\AppointmentController::store_note",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "appointment_id",
                                    "doctor_id",
                                    "user_id"
                                ],
                                "properties": {
                                    "appointment_id": {
                                        "description": "required",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "doctor_id": {
                                        "description": "required",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "user_id": {
                                        "description": "required",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "created_by": {
                                        "description": "Doctor|patient",
                                        "type": "text",
                                        "example": "Doctor"
                                    },
                                    "note": {
                                        "description": "required",
                                        "type": "text",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{data}": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Login",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::authenticate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "required|string|email|max:255",
                                        "type": "string",
                                        "example": "user@user.com"
                                    },
                                    "password": {
                                        "description": "required|string|min:6",
                                        "type": "string",
                                        "example": "123123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token:": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid_credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Validator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validator.": {
                                            "description": "Validator",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/check-email": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Check Email",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::check_if_email_exists",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "required|string|email|max:255",
                                        "type": "string",
                                        "example": "user@user.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "The email",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Validator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validator.": {
                                            "description": "Validator",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Registration",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "user"
                                    },
                                    "last_name": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Last"
                                    },
                                    "phone": {
                                        "description": "['required','regex:/^(5|0|3|6|4|9|1|8|7)([0-9]{7})$/']",
                                        "type": "integer",
                                        "example": "1234567"
                                    },
                                    "address": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Andalusia Group, 9 Mohamed Baidar St. from ElNasr St., New Maadi, Cairo, Egypt."
                                    },
                                    "gender": {
                                        "description": "string|max:20",
                                        "type": "string",
                                        "example": "Male,Female"
                                    },
                                    "avatar": {
                                        "description": "image|mimes:jpeg,png,jpg,gif,svg|max:1024",
                                        "type": "file",
                                        "example": "File Image"
                                    },
                                    "email": {
                                        "description": "required|string|email|max:255|unique:users",
                                        "type": "string",
                                        "example": "user@user.com"
                                    },
                                    "password": {
                                        "description": "required|string|min:6|confirmed",
                                        "type": "string",
                                        "example": "123123"
                                    },
                                    "password_confirmation": {
                                        "description": "Same As Password",
                                        "type": "string",
                                        "example": "123123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{name,email,updated_at,created_at,id},token}": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/doctor/login": {
            "post": {
                "tags": [
                    "Doctor Authorization"
                ],
                "summary": "Doctor Login",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::Doctor_authenticate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "required|string|email|max:255",
                                        "type": "string",
                                        "example": "user@user.com"
                                    },
                                    "password": {
                                        "description": "required|string|min:6",
                                        "type": "string",
                                        "example": "123123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token:": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid_credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Validator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validator.": {
                                            "description": "Validator",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/doctor/register": {
            "post": {
                "tags": [
                    "Doctor Authorization"
                ],
                "summary": "doctor Registration",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::Doctor_register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "['required','regex:/^(5|0|3|6|4|9|1|8|7)([0-9]{7})$/']",
                                        "type": "integer",
                                        "example": "5123456"
                                    },
                                    "email": {
                                        "description": "required|string|email|max:255|unique:users",
                                        "type": "string",
                                        "example": "doctor@doctor.com"
                                    },
                                    "password": {
                                        "description": "required|string|min:6|confirmed",
                                        "type": "string",
                                        "example": "123123"
                                    },
                                    "password_confirmation": {
                                        "description": "Same As Password",
                                        "type": "string",
                                        "example": "123123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{name,email,updated_at,created_at,id},token}": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/doctor/me": {
            "get": {
                "tags": [
                    "Doctor Authorization"
                ],
                "summary": "User Data",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::getAuthenticatedDoctor",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{name,email,updated_at,created_at,id},token}": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/update-profile-password": {
            "put": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Update Profile Password",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::updateProfilePassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "email"
                                ],
                                "properties": {
                                    "current_password": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "123123"
                                    },
                                    "new_password": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "12341234"
                                    },
                                    "new_password_confirmation": {
                                        "description": "Same As Password",
                                        "type": "string",
                                        "example": "12341234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{data}": {
                                            "description": "User",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/update-profile": {
            "put": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Update Profile Data",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::updateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "email"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "user"
                                    },
                                    "last_name": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Last"
                                    },
                                    "phone": {
                                        "description": "['required','regex:/^(5|0|3|6|4|9|1|8|7)([0-9]{7})$/']",
                                        "type": "integer",
                                        "example": "1234567"
                                    },
                                    "address": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Andalusia Group, 9 Mohamed Baidar St. from ElNasr St., New Maadi, Cairo, Egypt."
                                    },
                                    "gender": {
                                        "description": "string|max:20",
                                        "type": "string",
                                        "example": "Male"
                                    },
                                    "email": {
                                        "description": "required|string|email|max:255|unique:users",
                                        "type": "string",
                                        "example": "user@user.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{data}": {
                                            "description": "User",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/update-profile-image": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Update Profile Image",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::updateProfileImage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "Image"
                                ],
                                "properties": {
                                    "avatar": {
                                        "description": "required|image|mimes:jpeg,png,jpg,gif,svg|max:1024",
                                        "type": "file",
                                        "example": "File Image"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{data}": {
                                            "description": "User",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/social-login": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User social Login",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::handleProviderCallbackMobileLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "required|string",
                                        "type": "numeric",
                                        "example": "ya29.a0Adw1xeVd7V6JnoNL4EFAczpu6lZzfxdvAUhYYgaHperVnREcDEJGf8hxZ2e1nGbMNZPLOd5MStXfxbhp0WHkuoeXo7Y5fLu2XXtfn3E14MjYKOby6T5zcg3jJ-d_6vz17gRswGXj91lFmc6xvJI8tfnaUh2ZERIdr5GH"
                                    },
                                    "provider": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "google"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token:": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "523": {
                        "description": "invalid_credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:": {
                                            "description": "Provider is Not Found",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "524": {
                        "description": "invalid_credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:": {
                                            "description": "Provider is Not Found And Email Not Found Too ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validator.": {
                                            "description": "Validator",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/social-registration": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User social Registration",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::handleProviderCallbackMobileRegistration",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "provider",
                                    "name",
                                    "phone",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "required|numeric",
                                        "type": "numeric",
                                        "example": "ya29.a0Adw1xeVd7V6JnoNL4EFAczpu6lZzfxdvAUhYYgaHperVnREcDEJGf8hxZ2e1nGbMNZPLOd5MStXfxbhp0WHkuoeXo7Y5fLu2XXtfn3E14MjYKOby6T5zcg3jJ-d_6vz17gRswGXj91lFmc6xvJI8tfnaUh2ZERIdr5GH"
                                    },
                                    "provider": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "google"
                                    },
                                    "name": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "user"
                                    },
                                    "last_name": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Last"
                                    },
                                    "phone": {
                                        "description": "['required','regex:/^(5|0|3|6|4|9|1|8|7)([0-9]{7})$/']",
                                        "type": "integer",
                                        "example": "1234567"
                                    },
                                    "address": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Andalusia Group, 9 Mohamed Baidar St. from ElNasr St., New Maadi, Cairo, Egypt."
                                    },
                                    "gender": {
                                        "description": "string|max:20",
                                        "type": "string",
                                        "example": "Male,Female"
                                    },
                                    "email": {
                                        "description": "required|string|email|max:255",
                                        "type": "string",
                                        "example": "user@user.com"
                                    },
                                    "password": {
                                        "description": "required|string|min:6|confirmed",
                                        "type": "string",
                                        "example": "123123"
                                    },
                                    "password_confirmation": {
                                        "description": "Same As Password",
                                        "type": "string",
                                        "example": "123123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{name,email,updated_at,created_at,id},token}": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validation.": {
                                            "description": "Validator.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Data",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::getAuthenticatedUser",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{name,email,updated_at,created_at,id},token}": {
                                            "description": "The Token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-favorite-posts": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Data",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::getAuthenticatedPosts",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "posts": {
                                            "description": "posts Data",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-favorite-events": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Data",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::getAuthenticatedEvents",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "events": {
                                            "description": "events Data",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/password/link": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User Send link to the email",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::reset_password_link",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "user email",
                                        "type": "string",
                                        "example": "test@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{data}": {
                                            "description": "User",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/password/reset": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "User reset the password",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::reset_password",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reset_token",
                                    "password"
                                ],
                                "properties": {
                                    "reset_token": {
                                        "description": "the token that has been sent to the email",
                                        "type": "string",
                                        "example": "546aa5ackandm535d5d5a5"
                                    },
                                    "password": {
                                        "description": "the new password",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "{user{data}": {
                                            "description": "User",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error:These credentials do not match our records.": {
                                            "description": "These credentials do not match our records.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/clinics": {
            "get": {
                "tags": [
                    "Clinic Pages"
                ],
                "operationId": "clinics",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    },
                    {
                        "name": "query_search",
                        "in": "query",
                        "description": "search in the clinics",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_specialities",
                        "in": "query",
                        "description": "to search in the clinics and the specialities as well",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "clinics",
                        "in": "query",
                        "description": "the clinics",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Cardia,test"
                    },
                    {
                        "name": "specialities",
                        "in": "query",
                        "description": "the specialities",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "heart"
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "the gender",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "male"
                    },
                    {
                        "name": "all_doctors",
                        "in": "query",
                        "description": "get all doctors",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": "true"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "For Home Data as ['clinics']"
                    }
                }
            }
        },
        "/api/clinic/{slug}": {
            "get": {
                "tags": [
                    "Clinic Pages"
                ],
                "operationId": "clinic",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "cardiac-diseases-clinic"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "For Home Data as ['clinic']"
                    },
                    "404": {
                        "description": "Slug Not Found"
                    }
                }
            }
        },
        "/api/clinic_requests": {
            "post": {
                "tags": [
                    "Clinic Pages"
                ],
                "summary": "User Login",
                "operationId": "App\\Http\\Controllers\\Api\\ClinicRequestController::Index",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "phone",
                                    "gender",
                                    "email",
                                    "clinic_id",
                                    "type",
                                    "url"
                                ],
                                "properties": {
                                    "first_name": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "Ahmed"
                                    },
                                    "last_name": {
                                        "description": "string|max:255",
                                        "type": "string",
                                        "example": "Tawfek"
                                    },
                                    "gender": {
                                        "description": "required|numeric{1:Male // 2:Female}",
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "phone": {
                                        "description": "required|numeric|digits:7",
                                        "type": "string",
                                        "example": "1234567"
                                    },
                                    "email": {
                                        "description": "required|string|email|max:255",
                                        "type": "string",
                                        "example": "user@user.com"
                                    },
                                    "clinic_id": {
                                        "description": "required|numeric",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "type": {
                                        "description": "required|numeric {1:Clinic Pages // 2:Doctor Page // 3:Service Page // 4:Post Page }",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "url": {
                                        "description": "required|string",
                                        "type": "string",
                                        "example": "وحدة-قسطرة-القلب"
                                    },
                                    "further_requirements": {
                                        "description": "string",
                                        "type": "string",
                                        "example": " I want to contact me as soon as possible "
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "Sent Successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validator.": {
                                            "description": "Validator",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/contact_us": {
            "post": {
                "tags": [
                    "Contact Us"
                ],
                "summary": "add new reqoust to ContactUs",
                "operationId": "App\\Http\\Controllers\\Api\\ClinicRequestController::addContactUs",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "email",
                                    "further_requirements"
                                ],
                                "properties": {
                                    "first_name": {
                                        "description": "required|string|max:255",
                                        "type": "string",
                                        "example": "Ahmed"
                                    },
                                    "email": {
                                        "description": "required|string|email|max:255",
                                        "type": "string",
                                        "example": "user@user.com"
                                    },
                                    "further_requirements": {
                                        "description": "string",
                                        "type": "string",
                                        "example": " I want to contact me as soon as possible "
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
                                            "description": "Sent Successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Validator.": {
                                            "description": "Validator",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/doctors": {
            "get": {
                "tags": [
                    "Doctor Pages"
                ],
                "operationId": "doctors",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    },
                    {
                        "name": "query_search",
                        "in": "query",
                        "description": "search in the doctors",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "For Home Data as ['doctors']"
                    }
                }
            }
        },
        "/api/doctor/{slug}": {
            "get": {
                "tags": [
                    "Doctor Pages"
                ],
                "operationId": "doctor",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "dr-eman-abdel-aziz"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "For Home Data as ['doctor']"
                    },
                    "404": {
                        "description": "Slug Not Found"
                    }
                }
            }
        },
        "/api/events": {
            "get": {
                "tags": [
                    "Event Pages"
                ],
                "operationId": "events",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "For Home Data as ['event']"
                    }
                }
            }
        },
        "/api/event/{slug}": {
            "get": {
                "tags": [
                    "Event Pages"
                ],
                "operationId": "event",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Lang",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ar"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "cardiac-diseases-event"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "For Home Data as ['event']"
                    },
                    "404": {
                        "description": "Slug Not Found"
                    }
                }
            }
        },
        "/api/event-user": {
            "post": {
                "tags": [
                    "Event Pages"
                ],
                "summary": "User Events",
                "operationId": "App\\Http\\Controllers\\Api\\EventController::eventUserAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "event_id"
                                ],
                                "properties": {
                                    "event_id": {
                                        "description": "required|numeric",
                                        "type": "string",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "event successfully removed form your favorite list :(",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success:": {
[...]
