.navbar .dropdown.profile .dropdown-menu {
    position: absolute!important;
}
body.login {
    margin: 0;
    padding: 0;
    font-family: Open Sans,sans-serif;
    background-size: 70% 150% !important;
    -moz-background-size: cover;
    -ms-background-size: cover;
    /* -webkit-background-size: cover; */
    background-position: 0% 100% !important;
    background-repeat: no-repeat;
    overflow: hidden;
}
