 .header-navbar-rht li a.header-login{
  color: #0F6BAC !important;
  border: 2px solid #0F6BAC !important;
}
.header-navbar-rht li a.header-login:hover {
  background-color: #0F6BAC !important;
  border-color:#0F6BAC !important;
  color: #fff !important;
}
.sc-message--content.sent .sc-message--text {
  background-color: #0066B4 !important;
}
.main-nav > li > a:hover{
  color: #0F6BAC !important;
}
.btn-primary{
  background-color: #0F6BAC !important;
  border-color: #0F6BAC !important;
}
.btn-primary:hover{
  background-color: #FBB224 !important;
  border: 1px solid #FBB224 !important;
}
.clinic-booking a.apt-btn,.book-btn{
  background-color: #0F6BAC !important;
  color: #fff !important;
}
.book-btn{
  border: 2px solid #0F6BAC !important;
}
.clinic-booking a{
  border: 2px solid #0F6BAC !important;
  color: #0F6BAC !important;
}
.clinic-booking a.apt-btn:hover, .clinic-booking a.apt-btn:focus
.book-btn:hover, .book-btn:focus
{
  background-color: #FBB224 !important;
  border-color: #FBB224 !important;
}
.book-btn:hover{
  border: 2px solid #FBB224 !important;
}
clinic-booking a.view-pro-btn a{
  color: #0F6BAC !important;
}
.clinic-booking a.view-pro-btn:hover,
.book-btn:hover,
.clinic-booking a.view-pro-btn:focus,
.book-btn:focus
{
  background:  #FBB224 !important;
}
.speicality-img span i{
  color: #0F6BAC !important;
}
.icons button{
  color: #0F6BAC !important;
  border: 2px solid #0F6BAC !important;
}
.icons button:hover{
  background-color: #0F6BAC !important;
  color: #fff !important;
}
.doc-location,.fa-map-marker-alt,.fa-money-bill-alt,.clini-infos ul li{
  color:  #0F6BAC !important;
}
.view-btn{
  color: #0F6BAC !important;
  font-size: 13px;
  border: 2px solid #0F6BAC !important;
}
.view-btn:hover, .view-btn:focus{
  background-color: #FBB224 !important;
}
.footer {
  background-color: #0F6BAC !important;
}
.footer .footer-bottom .copyright{
  border-top: 1px solid #FBB224 !important;
}
.btn-search .btn{
  background-color: #0F6BAC !important;
  border: 1px solid  #0F6BAC !important;
}
.btn-search .btn:hover{
  background-color: #FBB224 !important;
  border: 1px solid #FBB224 !important;
}
.breadcrumb-bar{
  background-color: #0F6BAC !important;
}
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active, .user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:hover, .user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:focus{
  border-bottom-color: #0F6BAC !important;
  color: #0F6BAC !important;
}
.activeDay{
  color:  #0F6BAC !important;
  border: 2px solid  #0F6BAC !important;
}
.time-slot li .timing.selected{
  background-color: #FBB224 !important;
  border: 1px solid #FBB224 !important;
}
.booking-total ul li .total-cost{
  color: #0F6BAC !important;
}
.exist-customer a,.terms-accept a{
  color: #0F6BAC !important;
}
.payment-radio input:checked ~ .checkmark{
  border-color: #0F6BAC !important;
}
.payment-radio .checkmark::after{
  background-color: #0F6BAC !important;
}
.login-right .dont-have a{
  color: #FBB224 !important;
}
.success-cont i{
  background-color: #0F6BAC !important;
  border-color: #0F6BAC !important;
}
.text-info, .dropdown-menu > li > a.text-info{
  color: #FBB224 !important;
}
.dashboard-menu > ul > li:hover > a, .dashboard-menu > ul > li.active > a{
  color: #0F6BAC !important;
}
.login-again{
  color: #0F6BAC !important;
}
.bar-icon span{
  background-color: #0F6BAC !important;
}
.bar-icon span{
  background-color: #0F6BAC !important;
}
.hamb-icon{
  color: #0F6BAC !important;
}
.Accept{
  background: #0F6BAC !important;
  color: #fff !important;
}
.Accept:hover {
  border: 2px solid #0F6BAC !important;
  color: #0F6BAC !important;
  background: transparent !important;
}

.lang{
  background: #0F6BAC !important;
  color: #fff !important;
}
.lang:hover {
  border: 2px solid #0F6BAC !important;
  color: #FBB224 !important;
  background: transparent !important;
}
 @media only screen and (max-width: 991.98px){
  .main-menu-wrapper{
    background: #0F6BAC !important;
  }
  .main-nav > li {
    border-bottom: 1px solid #FBB224 !important;
    margin-left: 0;
  }
}
/*.send-contact:hover{*/
/*  background-color: #FBB224 !important;*/
/*  border: 1px solid #FBB224 !important;*/
/*}*/
