@import "variable";
@import "header";
@import "shared";
@import "mixin";
//@font-face {
//  font-family: mainFont;
//  src: url('../fonts/GE_SS_Two_Light.otf');
//}
.active-link, .exact-active-link {
  color: #000 !important;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}

