@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin borderAfter {
  &:after {
    content: "";
    display: block;
    width: 20%;
    background-color: $mainColor;
    border-radius: 5px;
    height: 5px;
    margin: 1rem auto;
  }
}

@mixin borderRightAfter {
  &:after {
    content: "";
    display: block;
    width: 20%;
    background-color: $mainColor;
    border-radius: 5px;
    height: 5px;
    margin: 1rem 0 1rem auto;
    @media (max-width: 768px) {
      margin: 1rem auto;
    }
  }
}
